img{
margin:auto;
display:flex;
width:100%;
height:200px;
padding:5%

}

.imgcard{
width:90%;
border-radius:6%;
margin:auto;
margin-top:10% ;
--background: url("../../assets/img/background.jpg");


}


.image{

  margin-top:50%;
}



ion-card-header{

border-radius:15px;
background:ffffff39;
background-color:none;
box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
padding:10px;
margin-bottom:2px


}

ion-card-subtitle{

  color:whitesmoke;
}
