<ion-header [translucent]="true" >
    <ion-toolbar color="danger"> 
        <ion-title>
            Los Pokemone'
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  
  <ion-searchbar color="danger" [(ngModel)]="pokemon" (ionChange)="SearchPokemon($event)"></ion-searchbar>
 
 <ion-card class="imgcard"   *ngIf="poke.img" >


<img class="image" [src]="poke.img" >

<ion-card-header>

<ion-card-title>Nombre: {{poke.name}}</ion-card-title>
<ion-card-subtitle>Peso:  {{poke.name}} libras</ion-card-subtitle>

</ion-card-header>

</ion-card>

  
</ion-content>